i.icon {
    font-size: 4em;
}

.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

/* Redimensionner les images */
img {
    max-width: 100%; /* La largeur maximale est celle de son conteneur parent */
    height: auto; /* Pour conserver le ratio d'aspect */
}
